In [1]:
import pandas as pd
from keras.models import load_model
from sklearn.model_selection import train_test_split
from keras.layers import Input, Embedding, Flatten, Dot, Dense, Concatenate
from keras.models import Model
import matplotlib.pyplot as plt
%matplotlib inline
import pickle

Using TensorFlow backend.

In [2]:
reviews_dataset = pd.read_pickle('reviews.pkl')

In [3]:
reviews_dataset.shape

(103930, 5)

In [4]:
reviews_dataset.head(5)

,isbn,user_id,user_name,user_ratings,user_review_text
0,9780321948540,779608,Erin,4.0,"There are a lot of great tips in this volume, ..."
1,9780321948540,753824,Rolf H채s채nen,4.0,Not as many useful tips as volume1 unless you ...
2,9780321948540,35798331,Valery,4.0,"Not as helpful as the first, but does go into ..."
3,9780321948540,2100772,Bruce,1.0,"OMG. Surely the absolute worst, amature photo ..."
4,9780321948540,1794100,Icepick,5.0,"The format may not be for everybody, but I rea..."

In [5]:
reviews_dataset.drop(columns=['user_name','user_review_text'],inplace=True)

In [6]:
reviews_dataset.isnull().sum()

isbn                0
user_id         55729
user_ratings    55729
dtype: int64

In [7]:
reviews_dataset.dropna(inplace=True)

In [8]:
reviews_dataset.shape

(48201, 3)

In [9]:
reviews_dataset.head(5)

            isbn   user_id  user_ratings
0  9780321948540    779608           4.0
1  9780321948540    753824           4.0
2  9780321948540  35798331           4.0
3  9780321948540   2100772           1.0
4  9780321948540   1794100           5.0

In [10]:
uniq_isbn = reviews_dataset.isbn.unique()

In [11]:
isbn_dict = {uniq_isbn[i] : i+1 for i in range(0, len(uniq_isbn) ) }

In [12]:
reviews_dataset.replace({"isbn": isbn_dict},inplace=True)

In [13]:
uniq_user = reviews_dataset.user_id.unique()

In [14]:
user_dict = {uniq_user[i] : i+1 for i in range(0, len(uniq_user) ) }

In [15]:
reviews_dataset.replace({"user_id": user_dict},inplace=True)

In [16]:
reviews_dataset.head()

   isbn  user_id  user_ratings
0     1        1           4.0
1     1        2           4.0
2     1        3           4.0
3     1        4           1.0
4     1        5           5.0

In [17]:
train_data, test_data = train_test_split(reviews_dataset, test_size=0.2, random_state=42)

In [18]:
train_data.head()

       isbn  user_id  user_ratings
44027  1130    14273           5.0
73502  1904    22318           5.0
29611   719     8553           5.0
13919   306     3427           4.0
18143   398     4203           4.0

In [19]:
test_data.head()

       isbn  user_id  user_ratings
26190   611     7006           3.0
60771  1556     8022           2.0
42023  1069    13111           4.0
7442    155     1240           1.0
93967  2387    27240           5.0

In [20]:
#Build keras model
books_shape = Input(shape=[1])
books_data = Embedding(len(reviews_dataset.isbn.unique())+1, 5)(books_shape)
books = Flatten()(books_data)
users_shape = Input(shape=[1])
users_data = Embedding(len(reviews_dataset.user_id.unique())+1, 5)(users_shape)
users = Flatten()(users_data)
books_users = Concatenate()([books, users])
books_conn_user = Dense(64, activation='relu')(books_users)
rating = Dense(1)(books_conn_user)
deepmodel = Model([users_shape, books_shape], rating)
deepmodel.compile('adam', 'mean_squared_error',metrics=['accuracy'])

WARNING:tensorflow:From /Users/sameerdeekshit/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [21]:
deepmodel.fit([train_data.user_id, train_data.isbn], train_data.user_ratings, epochs=75, verbose=1)

WARNING:tensorflow:From /Users/sameerdeekshit/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/75
38560/38560 [==============================] - 8s 200us/step - loss: 2.7457 - acc: 0.2688
Epoch 2/75
38560/38560 [==============================] - 7s 189us/step - loss: 0.9897 - acc: 0.4613
Epoch 3/75
38560/38560 [==============================] - ETA: 0s - loss: 0.5595 - acc: 0.629 - 7s 191us/step - loss: 0.5596 - acc: 0.6291
Epoch 4/75
38560/38560 [==============================] - 7s 186us/step - loss: 0.4238 - acc: 0.7141
Epoch 5/75
38560/38560 [==============================] - 7s 192us/step - loss: 0.3684 - acc: 0.7515
Epoch 6/75
38560/38560 [==============================] - 7s 188us/step - loss: 0.3436 - acc: 0.7670
Epoch 7/75
38560/38560 [==============================] - 8s 199us/step - loss: 0.3247 - acc: 0.7799
Epoch 8/75
38560/38560 [==============================] - 7s 187us/step - loss: 0.3097 - acc: 0.7867
Epoch 9/75
38560/38560 [==============================] - 8s 204us/step - loss: 0.2941 - acc: 0.7953
Epoch 10/75
38560/38560 [==============================] - 8s 197us/step - loss: 0.2784 - acc: 0.8057
Epoch 11/75
38560/38560 [==============================] - 7s 194us/step - loss: 0.2629 - acc: 0.8134
Epoch 12/75
38560/38560 [==============================] - 8s 211us/step - loss: 0.2482 - acc: 0.8232
Epoch 13/75
38560/38560 [==============================] - 8s 200us/step - loss: 0.2334 - acc: 0.8331
Epoch 14/75
38560/38560 [==============================] - 7s 192us/step - loss: 0.2200 - acc: 0.8409
Epoch 15/75
38560/38560 [==============================] - 7s 192us/step - loss: 0.2085 - acc: 0.8491
Epoch 16/75
38560/38560 [==============================] - 8s 198us/step - loss: 0.1983 - acc: 0.8571
Epoch 17/75
38560/38560 [==============================] - 7s 193us/step - loss: 0.1879 - acc: 0.8638
Epoch 18/75
38560/38560 [==============================] - 8s 199us/step - loss: 0.1783 - acc: 0.8712
Epoch 19/75
38560/38560 [==============================] - 8s 196us/step - loss: 0.1696 - acc: 0.8775
Epoch 20/75
38560/38560 [==============================] - 8s 199us/step - loss: 0.1621 - acc: 0.8827
Epoch 21/75
38560/38560 [==============================] - 8s 195us/step - loss: 0.1555 - acc: 0.8860
Epoch 22/75
38560/38560 [==============================] - 8s 200us/step - loss: 0.1480 - acc: 0.8906
Epoch 23/75
38560/38560 [==============================] - 8s 195us/step - loss: 0.1419 - acc: 0.8981
Epoch 24/75
38560/38560 [==============================] - 8s 201us/step - loss: 0.1352 - acc: 0.9015
Epoch 25/75
38560/38560 [==============================] - 8s 196us/step - loss: 0.1303 - acc: 0.9034
Epoch 26/75
38560/38560 [==============================] - 8s 202us/step - loss: 0.1253 - acc: 0.9076
Epoch 27/75
38560/38560 [==============================] - 8s 196us/step - loss: 0.1199 - acc: 0.9120
Epoch 28/75
38560/38560 [==============================] - 8s 203us/step - loss: 0.1155 - acc: 0.9149
Epoch 29/75
38560/38560 [==============================] - 8s 199us/step - loss: 0.1123 - acc: 0.9188
Epoch 30/75
38560/38560 [==============================] - 8s 201us/step - loss: 0.1077 - acc: 0.9197
Epoch 31/75
38560/38560 [==============================] - 8s 197us/step - loss: 0.1035 - acc: 0.9250
Epoch 32/75
38560/38560 [==============================] - 8s 209us/step - loss: 0.0998 - acc: 0.9270
Epoch 33/75
38560/38560 [==============================] - 8s 198us/step - loss: 0.0964 - acc: 0.9297
Epoch 34/75
38560/38560 [==============================] - 8s 205us/step - loss: 0.0938 - acc: 0.9311
Epoch 35/75
38560/38560 [==============================] - 8s 199us/step - loss: 0.0906 - acc: 0.9355
Epoch 36/75
38560/38560 [==============================] - 8s 200us/step - loss: 0.0881 - acc: 0.9360
Epoch 37/75
38560/38560 [==============================] - 8s 205us/step - loss: 0.0857 - acc: 0.9387
Epoch 38/75
38560/38560 [==============================] - 8s 205us/step - loss: 0.0830 - acc: 0.9406
Epoch 39/75
38560/38560 [==============================] - 8s 200us/step - loss: 0.0802 - acc: 0.9438
Epoch 40/75
38560/38560 [==============================] - 8s 200us/step - loss: 0.0787 - acc: 0.9457
Epoch 41/75
38560/38560 [==============================] - 8s 205us/step - loss: 0.0764 - acc: 0.9454
Epoch 42/75
38560/38560 [==============================] - 8s 207us/step - loss: 0.0741 - acc: 0.9490
Epoch 43/75
38560/38560 [==============================] - 8s 201us/step - loss: 0.0724 - acc: 0.9489
Epoch 44/75
38560/38560 [==============================] - 8s 204us/step - loss: 0.0708 - acc: 0.9510 0s - loss: 0.
Epoch 45/75
38560/38560 [==============================] - 8s 208us/step - loss: 0.0686 - acc: 0.9525
Epoch 46/75
38560/38560 [==============================] - 8s 202us/step - loss: 0.0664 - acc: 0.9533
Epoch 47/75
38560/38560 [==============================] - 8s 206us/step - loss: 0.0648 - acc: 0.9563
Epoch 48/75
38560/38560 [==============================] - 8s 208us/step - loss: 0.0635 - acc: 0.9566
Epoch 49/75
38560/38560 [==============================] - 8s 203us/step - loss: 0.0619 - acc: 0.9578
Epoch 50/75
38560/38560 [==============================] - 8s 203us/step - loss: 0.0608 - acc: 0.9586
Epoch 51/75
38560/38560 [==============================] - 8s 203us/step - loss: 0.0588 - acc: 0.9598
Epoch 52/75
38560/38560 [==============================] - 8s 199us/step - loss: 0.0578 - acc: 0.9601
Epoch 53/75
38560/38560 [==============================] - 8s 197us/step - loss: 0.0561 - acc: 0.9616
Epoch 54/75
38560/38560 [==============================] - 8s 197us/step - loss: 0.0553 - acc: 0.9625
Epoch 55/75
38560/38560 [==============================] - 8s 202us/step - loss: 0.0544 - acc: 0.9642
Epoch 56/75
38560/38560 [==============================] - 8s 196us/step - loss: 0.0527 - acc: 0.9650
Epoch 57/75
38560/38560 [==============================] - 8s 197us/step - loss: 0.0517 - acc: 0.9654
Epoch 58/75
38560/38560 [==============================] - 8s 203us/step - loss: 0.0504 - acc: 0.9655
Epoch 59/75
38560/38560 [==============================] - 8s 200us/step - loss: 0.0496 - acc: 0.9672
Epoch 60/75
38560/38560 [==============================] - 8s 206us/step - loss: 0.0491 - acc: 0.9678
Epoch 61/75
38560/38560 [==============================] - 8s 202us/step - loss: 0.0476 - acc: 0.9684 0s - loss: 0.04
Epoch 62/75
38560/38560 [==============================] - 8s 197us/step - loss: 0.0470 - acc: 0.9678
Epoch 63/75
38560/38560 [==============================] - 8s 203us/step - loss: 0.0463 - acc: 0.9697
Epoch 64/75
38560/38560 [==============================] - 8s 199us/step - loss: 0.0449 - acc: 0.9696
Epoch 65/75
38560/38560 [==============================] - 8s 205us/step - loss: 0.0441 - acc: 0.9711
Epoch 66/75
38560/38560 [==============================] - 8s 200us/step - loss: 0.0436 - acc: 0.9711
Epoch 67/75
38560/38560 [==============================] - 8s 200us/step - loss: 0.0427 - acc: 0.9719 1s - los
Epoch 68/75
38560/38560 [==============================] - 8s 205us/step - loss: 0.0419 - acc: 0.9717 1
Epoch 69/75
38560/38560 [==============================] - 8s 199us/step - loss: 0.0414 - acc: 0.9728 1s - loss: 0.0405  - ETA: 1s - l
Epoch 70/75
38560/38560 [==============================] - 8s 206us/step - loss: 0.0405 - acc: 0.9726
Epoch 71/75
38560/38560 [==============================] - 8s 202us/step - loss: 0.0399 - acc: 0.9735
Epoch 72/75
38560/38560 [==============================] - 8s 199us/step - loss: 0.0398 - acc: 0.9737
Epoch 73/75
38560/38560 [==============================] - 8s 206us/step - loss: 0.0390 - acc: 0.9747 2s - loss: 0.0379 - a - ETA: 2s -  - ETA: 0s - loss: 0.0389 -
Epoch 74/75
38560/38560 [==============================] - 8s 201us/step - loss: 0.0382 - acc: 0.9752
Epoch 75/75
38560/38560 [==============================] - 8s 207us/step - loss: 0.0373 - acc: 0.9757

In [22]:
deepmodel.evaluate([test_data.user_id, test_data.isbn], test_data.user_ratings)

9641/9641 [==============================] - 0s 29us/step

[1.7863750575044048, 0.40151436574824334]

In [23]:
all_isbn_list = pickle.load(open("all_isbn_list.pkl","rb"))

In [24]:
reviews_dataset.head(10)

   isbn  user_id  user_ratings
0     1        1           4.0
1     1        2           4.0
2     1        3           4.0
3     1        4           1.0
4     1        5           5.0
5     1        6           4.0
6     1        7           4.0
7     1        8           4.0
8     1        9           0.0
9     1       10           4.0

In [25]:
deepmodel.save('deeplenarningmodel')

In [26]:
model = load_model('deeplenarningmodel')

In [27]:
isbn_title_dict = pickle.load(open("isbn_title_dict.pkl","rb"))

In [28]:
usersbooks = pickle.load(open("user_books_sorted.pkl","rb"))

In [29]:
isbns = dict((v,k) for k,v in isbn_dict.items())

In [30]:
def top10deep(user): 
    bookratings = []
    for book in isbns:
        ud = user_dict[user]
        if user not in usersbooks.keys():
            continue
        x = pd.Series([ud])
        y = pd.Series([book])
        predictions = model.predict([x, y])
        bookratings.append([predictions[0][0],isbns[book]])
    
    bookratings = [item for item in bookratings if item[1] in isbn_title_dict.keys()]
    bookratings = [item for item in bookratings if item[1] not in usersbooks[user]]   
    bookratings.sort(key=lambda x: x[0], reverse=True)
    return bookratings[:10]

In [31]:
#get isbn from recommended ratings
def top10isbn(recommendations):
    top10_isbn = []
    for item in recommendations:
        item_isbn = item[1]
        top10_isbn.append(item_isbn)
    return top10_isbn

In [32]:
deeplrecommended = top10deep('269235')
isbn_recommendations = top10isbn(deeplrecommended)
print("Deep learning based model recommendations books : ")
for isbnitem in isbn_recommendations :
    print("ISBN :", str(isbnitem), "Title :", str(isbn_title_dict[isbnitem]))

Deep learning based model recommendations books :
ISBN : 9781453237915 Title : West with the Night
ISBN : 9781599908755 Title : Starcross
ISBN : 9781596431317 Title : Drawing Words and Writing Pictures
ISBN : 9780143111597 Title : The Left Hand of Darkness
ISBN : 9782080201331 Title : Master Photographers
ISBN : 9780385372091 Title : Green Eggs and Ham: Read & Listen Edition
ISBN : 9780757305603 Title : The Sleepeasy Solution
ISBN : 9780821215517 Title : Examples
ISBN : 9780936861579 Title : Captives of Blue Mountain
ISBN : 9780805800586 Title : The Psychology of Learning Mathematics